*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-red{
    background-color: #B91450;
}

.bg-grey{
    background-color: lightgrey;
}

.flex{
    display: flex;
}

.container{
    width: 100vw;
    height: 100vh;
}

.row{
    justify-content: center;
    width: 70%;
    margin: 0 auto; 
}

.col-top{
    width: 100%;
}

.title{
    color: white;
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
}

.form-ticket{
    background-color: white;
    border-radius: 10px;
    padding: 20px 50px;
}

form{
    justify-content: space-around;
    flex-wrap: wrap;
}

form label{
    display: block;
    padding-bottom: 14px;
}

.btn{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    word-spacing: 10px;
}

.btn button{
    padding: 2px 10px;
}

.ticket{
    background-color: white;
    border-radius: 10px;
    padding: 20px 50px;
}

.ticket ul{
    list-style-type: none;
    justify-content: space-around;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.ticket ul li{
    padding: 20px;
    width: 30%;
}

p{
    margin-top: 20px;
}

#padding{
    padding-bottom: 50px;
}